/* Pen-specific styles */
* {
  box-sizing: border-box;
}
html, body, section, div {
  height: 100%;
}

body {
  color: #fff;
  font-family: sans-serif;
  font-size: 1.25rem;
  line-height: 150%;
  text-align: center;
  /*text-shadow: 0 2px 2px #b6701e;*/
  margin: 0;
}

section {
  width: 100%;
}

article {
  position: relative;
  top: 50%;
  padding: 1rem;
  text-align: center;
  transform: translate(-50%, -50%);
  width: 30%;
  height:20vh;
  display: block;
  z-index: 1000;

}

article.left{
  left: 75%;
  background-image: url('images/swan-grey.png');
  background-repeat: no-repeat;
  background-position: bottom;
  background-size:contain;
}


article.right{
  clear:both;
  left: 25%;
  background-image: url('images/binder-grey.png');
  background-repeat: no-repeat;
  background-position: bottom;
  background-size:contain;
}

article.left:hoover{
  background-image: url('images/swan-color.png');
  background-repeat: no-repeat;
  background-position: bottom;
  background-size:contain;
}

article.right:hoover{
  background-image: url('images/binder-color.png');
  background-repeat: no-repeat;
  background-position: bottom;
  background-size:contain;
}

h1 {
  display: block;
  position: relative;
  top: 40%;
  /*padding: 1rem;*/
  width: 30%;
  transform: translate(-50%, -50%);
  font-size: 2.5rem;
  margin: 0 0 0.75rem 0;
}

h1.left{
  left: 75%;
}

h1.right{
  left: 25%;
}

/* Pattern styles */
.left-half {
  background-color: #B9B8C1;
  float: left;
  width: 50%;
}
.right-half {
  background-color: #1F1F23;
  float: left;
  width: 50%;
}

/* Image styles */

img{
  width: 30%;
}
p{
  width:50%;
  margin: auto;
}
