* {
  box-sizing: border-box;
}

body {
  color: #fff;
  font-family: sans-serif;
  font-size: 1.25rem;
  /*line-height: 150%;*/
  text-align: center;
  /*text-shadow: 0 2px 2px #b6701e;*/
  margin: 0;
}

a{
  text-decoration: none;

}
.left h1{
  color: #60606c;
}

.right h1{
  color: #e4e3e8;
}

#innerleft{
  background-color:#e4e3e8;
  width:50%;
  /*float:left;*/
  height:100vh;
  position: absolute;
}


#innerright{
  background-color:#60606c;
  width:50%;
  position: absolute;
  left: 50%;
  height:100vh;
}
#innerinner{
  /*position: relative;*/
  width:100%;
  position: absolute;
  top: 20vh;
  /*height:30vh;*/
  background-color: transparent;
}

#innerinner.left{
  right: 0;
}

#innerinner.right{
  left: 0;
}

.content{
  display: none;
  /*border: solid 1px #fff;*/
  border-radius: 15px;
  /*height: 47vh;*/
  background-color: transparent;
  color: #60606c;
  width: 30vw;
  overflow: scroll;
  margin: auto;
  padding: 10px;
  height: 20vh;
  overflow: scroll;
  text-align: center;
}

.content.right{
  color: #e4e3e8;
}

#innerinner:hover div.content{
  display: block;
}

#innerinner:hover img.left{
  /*src:url(../images/swan-color.png);*/
}

#innerinner:hover img.right{
  /*src:url(../images/binder-color.png);*/
}

img{
  height: 30vh;
  /*display: block;
  margin: auto 0 auto auto;*/
  margin: auto;
  display: block;
}
